<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Page Not Found</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container text-dark text-center pt-5">
    Oups!! Searching for something not available??
    <br>
    Try Contacting Us!
    <br>
    <br>
    <div class="loading-dots">
      Redirecting you back
      <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
    </div>
  </div>
  <section class="page_404">
    <div class="container">
      <div class="row">
      <div class="col-sm-12 ">
      <div class="col-sm-10 col-sm-offset-1  text-center">
      <div class="four_zero_four_bg">
        <!-- <h1 class="text-center text-dark">404</h1> -->
      </div>
      <div class="contant_box_404 text-dark">
      <h3 class="h2 mt-3">
        Look like you're lost
      </h3>
      <p>the page you are looking for not avaible!</p>

      <a (click)="goToHome()" class="link_404">Go to Home</a>
    </div>
      </div>
      </div>
      </div>
    </div>
  </section>

</ion-content>
