.full-button{
  width: 100%;
}

button{
  background: rgb(219 218 218);
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  padding-block: 10px;
  border-radius: 10px;
  color: #787878;
  box-shadow: 15px 16px 21px #a9a9a9;
}
