<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="d-flex justify-content-center mb-2 mt-5">
    <button (click)="setOpen(true)" class="w-75">Click/Choose Images</button>
  </div>
  <br>
  <div class="d-flex justify-content-center my-2">
    <button (click)="previewSubmit()" class="w-75">Upload and Preview</button>
  </div>
  <br>
  <!-- <div class="d-flex justify-content-center my-2">
    <button (click)="submitAllImages()" class="w-75" *ngIf="!showLoader" style="height: 85px;">Submit Images</button>
    <button class="w-75" *ngIf="showLoader" style="height: 85px;"><img src="assets/images/loader1.gif" height="70"></button>
  </div> -->

  <div *ngIf="uploadSucces" class="px-2 text-center text-dark mt-5">
    <span class="font-bold">Upload Size: </span><span>{{len}}</span><br/>
    <span class="font-bold">Upload Status: </span><span>{{uploadData.success ? 'Successful' : 'Fail'}}</span><br/>
    <span class="font-bold">Upload Response Code: </span><span>{{uploadData.responseCode}}</span><br/>
    <span class="font-bold">Upload Message: </span><span>{{uploadData.message}}</span><br/>
    <span class="font-bold">Upload Time: </span><span>{{uploadtime}}</span><br/>
    <span class="font-bold">Response Time: </span><span>{{responsetime}}</span><br/>
    <span class="font-bold">Responded In: </span><span>{{timeDiff}}</span><br/>
  </div>

  <!-- <form [formGroup]="imageForm" (ngSubmit)="submitAllImages($event)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Select Images (multiple)</ion-label>
        <input type="file" name="images" accept="image/*" multiple (change)="onFileChange($event)">
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="!selectedImages.length">Upload</ion-button>
  </form> -->


  <ion-modal #modal [isOpen]="isImageModalOpen" [initialBreakpoint]="0.27" [breakpoints]="[0.27, 0.5]" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-list class="mt-2 p-2" lines="none">
          <ion-item (click)="getImages()">
            <ion-avatar slot="start" class="d-flex justify-content-center align-items-center">
              <ion-icon name="camera" style="font-size: 26px;"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Click Images</h2>
            </ion-label>
          </ion-item>
          <ion-item (click)="pickImages()">
            <ion-avatar slot="start" class="d-flex justify-content-center align-items-center">
              <ion-icon name="images" style="font-size: 26px;"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Upload From Photos</h2>
              <p>Multi-uploads supported</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="setOpen(false)">
            <ion-button class="full-button">
              <p>Close</p>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>


  <!-- <ion-modal #preview [isOpen]="isPreviewModalOpen" [initialBreakpoint]="0.25" [breakpoints]="[0.25, 0.5, 0.75, 0.90, 1]" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-list class="mt-2 p-2" lines="none">
          <div class="d-flex" style="flex-wrap: wrap; row-gap: 5px;">
            <ion-item *ngFor="let img of selectedImages" style="flex: 0 0 33.333333%;">
              <ion-img src="{{img}}" height="150" (click)="expand($event)"></ion-img>
            </ion-item>
          </div>
          <ion-item (click)="setPreviewOpen(false)">
            <ion-button class="full-button">
              <p>Close</p>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal> -->

  <!-- <ion-modal id="expandimage" #expandimage [isOpen]="true">
    <ng-template>
      <div class="wrapper">
        <div class="d-flex justify-content-between align-items-center">
          <h1>Image</h1>
          <div style="column-gap: 10px;" class="d-flex justify-content-end p-2">
            <ion-icon name="trash-outline" style="height:20px"></ion-icon>
            <ion-icon (click)="expandimage.dismiss()" name="close-circle-outline" style="height:20px"></ion-icon>
          </div>
        </div>

        <ion-list lines="none">

        </ion-list>
      </div>
    </ng-template>
  </ion-modal> -->
</ion-content>

